/* Fonts */
@font-face {
    font-family: "Fraunces";
    src: url("../fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global variables */
:root {
    /* Colors */
    --color-pure-white: #FFF;
    --color-cream-background: #F2EAE2;
    --color-aurometal-saurus: #6C7289;
    --color-deep-aquamarine: #3D8168;
    --color-deep-aquamarine-hover: #1A4032;
    --color-gunmetal: #1C232B;
}

/* Utilities */
.font-display {
    font-family: "Fraunces";
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

.font-body {
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.6;
}

.font-button {
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--color-pure-white);
}

.font-overline {
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
}

/* Main elements styles */
body {
    background-color: var(--color-cream-background);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    object-fit: cover;
}

/* Component styles */

/* Header */
.header__title {
    text-align: center;
    padding: 2em;
}

/* Main */
.product-card {
    max-width: 21.5em;
    margin-inline: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card__image {
    max-height: 15rem;
    width: 100%;

    img {
        height: 100%;
        border-start-start-radius: 1rem;
        border-start-end-radius: 1rem;
    }
}

.product-card__body {
    padding: 2em;
    background-color: var(--color-pure-white);

    display: flex;
    flex-direction: column;
    border-end-start-radius: 1em;
    border-end-end-radius: 1em;
}

.product-card__type {
    color: var(--color-aurometal-saurus);
}

.product-card__name {
    margin-block-start: 0.625em;
    color: var(--color-gunmetal);
}

.product-card__description {
    margin-block-start: 1.4em;
    color: var(--color-aurometal-saurus);
}

.product-card__price {
    margin-block-start: 0.875em;
    color: var(--color-deep-aquamarine);

    display: flex;
    align-items: self-start;

    s {
        margin-inline-start: 1.6em;
        font-family: "Montserrat";
        font-size: 0.8rem;
        line-height: 2.3;
        color: var(--color-aurometal-saurus);
    }
}

.product-card__add-to-card-button {
    margin-block-start: 2.2em;
    background-color: var(--color-deep-aquamarine);
    height: 3.3em;
    border: none;
    border-radius: 0.6em;

    i {
        margin-inline-end: 0.6em;
    };
}

/* Footer */
.attribution {
    text-align: center;
    padding: 3em;

    a {
        color: var(--color-deep-aquamarine);
    }
}

/* Media queries */
@media (min-width: 42.5rem) {
    .product-card {
        max-width: 37.5em;
        max-height: 32em;
        flex-direction: row;
    }
    
    .product-card__image {
        width: 50%;
        max-height: none;
        height: 100%;

        img {
            border-radius: 0;
            border-start-start-radius: 1rem;
            border-end-start-radius: 1rem;
        }
    }

    .product-card__body {
        height: 100%;
        width: 50%;
        border-radius: 0;
        border-start-end-radius: 1rem;
        border-end-end-radius: 1rem;
    }

    .product-card__add-to-card-button:hover {
        background-color: var(--color-deep-aquamarine-hover);
        cursor: pointer;
    }
}